# Bytecode-Dateien
__pycache__/
*.py[cod]

# Jupyter-Notebooks
.ipynb_checkpoints/

# Lokale Datenbank
instance/
*.db
migrations/

# Umgebungskonfigurationen
.env
*.sqlite3

# Editor-spezifisch
.vscode/
.idea/

# Sonstiges
*.log
*.bak
*.swp
