<h2>Meldung im Detail</h2>
<p><strong>Modul:</strong> {{ meldung.modul.titel }}</p>
<p><strong>Kategorie:</strong> {{ meldung.kategorie.value }}</p>

<!-- Bei Lehrenden ist Status bearbeitbar: -->
{% if user.__class__.__name__ == "Lehrende" %}

{# suchen nach def status:aendern(...) #}
<form method="post" action="{{ url_for('status_aendern', meldungs_id=meldung.id) }}">    
    
    {# Dropdown: Status ändern #}
    <label for="status"><strong>Status ändern:</strong></label>
    <select name="status" id="status"> {#meldung?#}
        {% for s in status_enum %}
            <option value="{{ s.name }}" {% if meldung.status.name == s.name %}selected{% endif %}>
                {{ s.value }}
            </option>
        {% endfor %}
    </select><br><br>

    <label for="kommentar"><strong>Kommentar zur Änderung:</strong></label><br>

    <label for="sichtbarkeit">Sichtbarkeit:</label>
    <select name="sichtbarkeit" id="sichtbarkeit">
        {% for s in sichtbarkeit_enum %}
            <option value="{{ s.name }}" {% if ausgewaehlte_sichtbarkeit == s.name or (not ausgewaehlte_sichtbarkeit and s.name == 'PRIVAT') %}selected{% endif %}>
                {{s.value }}
            </option>
        {% endfor %}
    </select><br>
    <textarea name="kommentar" id="kommentar" rows="3" cols="40">{{ eingegebener_kommentar }}</textarea><br>

    {# Status nicht gültig -> Fehlermeltung #}
    {% if fehlermeldung %}
        <p style="color: red;"><strong>{{ fehlermeldung }}</strong></p>
    {% endif %}

    <button type="submit">Speichern</button>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div style="background-color: #fff8dc; border: 1px solid #daa520; padding: 0.5em; border-radius: 4px;">
        {% for msg in messages %}
            <strong>{{ msg }}</strong>
        {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% else %}
    <p><strong>Status:</strong> {{ meldung.status.value }}</p>
{% endif %}

<p><strong>Beschreibung:</strong> {{ meldung.beschreibung }}</p>
<p><strong>Gemeldet von:</strong> {{ meldung.ersteller.name }}</p>

<!-- Kommentare als Liste Anzeigen -->
<h3>Kommentare von Lehrpersonen:</h3>
{% if user.get_sichtbare_kommentare(meldung) %}
    <ul> 
        {% for kommentar in  user.get_sichtbare_kommentare(meldung) %}
            {% if kommentar.lehrende != None %}    
                <li>
                    <strong>{{ kommentar.zeitstempel.strftime('%d.%m.%Y %H:%M') }}</strong>, 
                    Sichtbarkeit: {{kommentar.sichtbarkeit.value}} - von {{kommentar.lehrende.name}}: 
                    <p>{{kommentar.text}}</p>

                    {% if user.__class__.__name__ == "Studierende" and user.id == meldung.ersteller.id %}
                        <form method="post" action="{{ url_for('antwort_speichern', kommentar_id=kommentar.id) }}">
                            <textarea name="antwort_text" rows="2" cols="40" placeholder="Antwort schreiben..."></textarea><br>
                            <button type="submit" onclick="return confirm('Antwort wirlich hinzufügen?')">Antwort senden</button>
                        </form>
                    {% endif %}

                    {% if kommentar.antworten %}
                        <ul>
                            {% for antwort in kommentar.antworten %}
                                <li>
                                    <em>{{ antwort.verfasser }} am {{ antwort.zeitstempel.strftime('%d.%m.%Y %H:%M') }}:</em>
                                    <p>{{ antwort.text }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <br>
                </li>
            {% endif %}  
        {% endfor %}
    </ul>
{% else %}
    <p><em>Keine Kommentare vorhanden / sichtbar.</em></p>
{% endif %}

<!-- zurrück zur Übersicht navigieren -->
<!-- url_for('uebersicht') -->
<a href="{{ url_for('uebersicht') }}">← Zurück zur Übersicht</a>
